#
# Davolink Custom Package Configuration
#
# 2018-10-18 young
#

menu "Davolink custom package(cpkg) devices"

config BCMNVRAM
	bool "Broadcom nvram device support"

config BRDIO
	bool "Board specific helper"
	default y

config DVFLAG
	bool "Notification of bitwised system event"
	default y

config GPIO_BUTTON_FSM
	bool "Execute finite state machine with gpio button or switch"
	depends on BRDIO && DVFLAG
	default y

config NF_NAT_TWINIP
	bool "Twin ip support, also known as Super-DMZ"
	default y
	help
	  A host could have the same IPv4 address of an address
	  configured with WAN interface.

	  If unsure, say N.

endmenu
