config log_file_cfg "log_file_cfg"
	option max_size 1024
	option max_cnt 10
	option path "/var/qcalog"

config log_web_cfg "log_web_cfg"
	option max_size '1024'
	option path "/var/qcalog"
	option enabled '1'
	option rlog_enabled '0'
	option rlog_ip "0.0.0.0"

config log_filter "cli_default"
	option enabled 0
	option error 1
	option msg 1
	option warn 1
	option info 1
	option debug 0
	list stamac "00:00:00:00:00:00"

config log_filter "file_default"
	option enabled 1
	option error 1
	option msg 1
	option warn 1
	option info 0
	option debug 0
	list stamac "00:00:00:00:00:00"

config log_filter "cli_hostapd"
	option enabled 0
	option error 1
	option msg 1
	option warn 1
	option info 1
	option debug 0
	list stamac "00:00:00:00:00:00"

config log_filter "file_hostapd"
	option enabled 1
	option error 1
	option msg 1
	option warn 1
	option info 0
	option debug 0
	list stamac "00:00:00:00:00:00"

config log_filter "cli_system"
	option enabled 0
	option error 1
	option msg 1
	option warn 1
	option info 1
	option debug 0
	list stamac "00:00:00:00:00:00"

config log_filter "file_system"
	option enabled 1
	option error 1
	option msg 1
	option warn 1
	option info 0
	option debug 0
	list stamac "00:00:00:00:00:00"

config ktr_log_filter 'ktr_cli_common'
	option error '1'
	option debug '1'
	option info '1'
	option msg '1'
	option ipc '0'
	option verbose '0'
	option system '1'

config ktr_log_filter 'ktr_file_common'
	option error '1'
	option debug '0'
	option info '1'
	option msg '1'
	option ipc '0'
	option verbose '0'
	option system '1'

config ktr_stamac 'ktr_stamac'
	option stamac '00:00:00:00:00:00'

