<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<meta http-equiv="Pragma" content="no-cache">
<title>MAC 필터링</title>
<script type="text/javascript" src="util_gw.js"> </script>
<link rel='STYLESHEET' type='text/css' href='style.css'>
<script>
var macTbl_window=false;

function macTblClick(url) {
	var nWidth = "700";
	var nHeight = "400";
	if(window.screenX == undefined) {
		var curX = window.screenLeft;
		var curY = window.screenTop;
	} else {
		var curX = window.screenX;
		var curY = window.screenY;
	}
	var nLeft = curX + (window.outerWidth-nWidth)/2;
	var nTop = curY + (window.outerHeight-nHeight)/2;
	var strOption = "";
	strOption += "left=" + nLeft + ",top=" + nTop + ",width=" + nWidth + ",height=" + nHeight + ",";
	strOption += "toolbar=no,menubar=no,location=no,resizable=yes,status=yes";
	var winObj = window.open(url, "macTbl", strOption);
	if (winObj == null) {
		alert("팝업 차단을 해제해주세요.");
		return false;
	}
	winObj.focus();
}

window.onbeforeunload = function() {
	if(macTbl_window)
		macTbl_window.close();
}
var chk_btn=0;
function addClick()
{
  if (chk_btn==1)
	  return false;

  var comment_val = document.formMacFilterAdd.comment.value;

  if (document.formMacFilterAdd.mac.value=="" && document.formMacFilterAdd.comment.value=="" ){
	alert("입력된 정보가 없습니다.");
	return false;
  }

  var str = document.formMacFilterAdd.mac.value;
  var tmp = "";
/* KDH DAVO 10/02/08 */
  if ( str.length != 12 && str.length != 17) {
	alert("MAC 주소가 올바르지 않습니다. 16진수 12자리 또는 콜론을 포함한 17자리를 입력해야 합니다");
	document.formMacFilterAdd.mac.focus();
	return false;
  }

  for (var i=0; i<str.length; i++) {
	if ( (str.charAt(i) >= '0' && str.charAt(i) <= '9') ||
			(str.charAt(i) >= 'a' && str.charAt(i) <= 'f') ||
			(str.charAt(i) >= 'A' && str.charAt(i) <= 'F') ||
			(str.charAt(i) == ':')){
	  if(str.charAt(i) != ':')
		tmp += str.charAt(i);
	  continue;
	}

	alert("MAC 주소가 올바르지 않습니다. 16진수를 입력해야 합니다. (0-9 또는 a-f 또는 :)");
	document.formMacFilterAdd.mac.focus();
	return false;
  }
  if ( IsHtmlComment(comment_val)) {
	alert('Html 주석문을 입력할 수 없습니다.!');
	document.formMacFilterAdd.comment.value = document.formMacFilterAdd.comment.defaultValue;
	document.formMacFilterAdd.comment.focus();
	return false;
  }
  document.formMacFilterAdd.mac.value = tmp;
/* END DAVO */
  chk_btn++;
  return true;
}

function deleteClick(i)
{
	if (chk_btn==1)
		return false;

	if ( !confirm('선택한 목록을 삭제하시겠습니까?') ) {
		return false;
	} else {
		document.formMacFilterAdd.elements["macdel"].name = "select"+i;
		chk_btn++;
		return true;
	}
}

function updateState()
{
  var is_disable = false;
  var macFilter_num = <% getIndex("macFilterNum"); %>;

	document.formMacFilterAdd.mac.disabled = is_disable;
	document.formMacFilterAdd.comment.disabled = is_disable;
	document.formMacFilterAdd.port.disabled = is_disable;
	document.formMacFilterAdd.macSearch.disabled = is_disable;

	document.formMacFilterAdd.ftmode1.disabled = is_disable;
	document.formMacFilterAdd.ftmode2.disabled = is_disable;
	document.formMacFilterAdd.ftmode3.disabled = is_disable;
	document.formMacFilterAdd.ftmode4.disabled = is_disable;

	document.formMacFilterAdd.addFilterMac.disabled = is_disable;

  for(var i=1 ; i <= macFilter_num ; i++){
	get_by_id("deleteSelFilterMac"+i).disabled = is_disable;
  }
}

function modeChange(portIdx, sel)
{
	var f = document.formMacFilterAdd;
	document.formMacFilterAdd.opmode.value = sel.value;
	document.formMacFilterAdd.elements["opmode"].name = "opmode"+portIdx;
	document.formMacFilterAdd.ftmode1.disabled = true;
	document.formMacFilterAdd.ftmode2.disabled = true;
	document.formMacFilterAdd.ftmode3.disabled = true;
	document.formMacFilterAdd.ftmode4.disabled = true;
	f.submit();
}

function resetForm()
{
	document.location.assign("macfilter.htm");
}

function do_init()
{
	var active_port = <% getInfo("macfil_active_port"); %>;

	document.formMacFilterAdd.ftmode1.disabled = ( active_port & 1 )? false: true;
	document.formMacFilterAdd.ftmode2.disabled = ( active_port & 2 )? false: true;
	document.formMacFilterAdd.ftmode3.disabled = ( active_port & 4 )? false: true;
	document.formMacFilterAdd.ftmode4.disabled = ( active_port & 8 )? false: true;
}
</script>
</head>

<body onLoad="do_init();mouse_r_click();">
<blockquote>
<h2>MAC 필터링</h2>
<table border=0 width="600" cellspacing=4 cellpadding=0>
	<tr>
		<font size=2>해당 MAC 주소를 사용하는 호스트에 대해 접속을 허용할 것인지 차단할 것인지 설정하는 페이지입니다.</font></tr>
	<tr><hr size=1 noshade align=top></tr>
</table>

<form action=/boafrm/formMacFilter method=POST name="formMacFilterAdd">
<input type="hidden" name="pageName" value="MACF">

<br>
<table border="0" width=500 cellpadding="5">
  <tr><font size=2><b>MAC 필터링 리스트:</b></font></tr>
  <% macFilterList(); %>
  <tr align="center"><td><select name='port'><option value="1" selected>LAN1<option value="2">LAN2<option value="3">LAN3<option value="4">LAN4</select></td>
		<td><input type="text" name="mac" size="20" maxlength="17"></td>
		<td><input type="text" name="comment" size="16" maxlength="20"></td>
		<td><input type="submit" value=" 추가 " name="addFilterMac" onClick="return addClick()"></td>
  </tr>
  <tr>
		<td>&nbsp;</td>
		<td align="center"><input type="button" id="macSearch" name="macSearch" value="MAC search" onClick="macTblClick('/mactbl.htm')"></td>
		<td colspan="2">&nbsp;</td>
  </tr>
</table>
<script> updateState(); </script>
  <input type="hidden" value="ON" name="macdel">
  <input type="hidden" value="ON" name="opmode">
  <input type="hidden" value="ON" name="changeModeFilterMac">
  <input type="hidden" name="page" value="macfilter.htm">
  <input type="hidden" value="/macfilter.htm" name="submit-url">
</form>

</blockquote>
</body>
</html>
