<html>
<head>
<meta HTTP-EQUIV='Pragma' CONTENT='no-cache'>
<meta HTTP-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<% getIndex("no-cache"); %>
<title>패스워드 설정</title>
<script type="text/javascript" src="util_gw.js"> </script>
<% getInfo("include_css"); %>
<SCRIPT>

function includeSpace(str)
{
	for (var i = 0; i < str.length; i++) {
		if ( str.charAt(i) == ' ' ) {
			return true;
		}
	}
	return false;
}

function inputChanges()
{

	if ( document.password.username.value.length > 16) {
		alert('사용자 계정은 최대 16자까지 입력 가능합니다. 다시 입력하여 주십시오.');
		document.password.username.value = "";
		document.password.username.focus();
		return;
	}

	if ( document.password.newpass.value.length > 16) {
		alert('비밀번호는 최대 16자까지 입력 가능합니다. 다시 입력하여 주십시오.');
/*
		strLen = document.password.newpass.value.length;
		tmpStr = document.password.newpass.value;
		tmpStr = tmpStr.substr(0,strLen-1);
*/
		document.password.newpass.value = "";
		document.password.newpass.focus();
		return;
	}

	if ( document.password.confpass.value.length > 16) {
		alert('비밀번호는 최대 16자까지 입력 가능합니다. 다시 입력하여 주십시오.');
/*
		strLen = document.password.confpass.value.length;
		tmpStr = document.password.confpass.value;
		tmpStr = tmpStr.substr(0,strLen-1);
*/
		document.password.confpass.value = "";
		document.password.confpass.focus();
		return;
	}
}

function saveChanges()
{
	var regPwd = /^.*(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).*$/;
	var ret;

	if ( document.password.newpass.value.length < 8 || document.password.newpass.value.length > 16 ||
		document.password.confpass.value.length < 8 || document.password.confpass.value.length > 16) {
		alert('비밀번호는 최소 8자 ~ 최대 16자까지 입력 가능합니다. 다시 입력하여 주십시오.');
		document.password.newpass.focus();
		return false;
	}

	ret = saveChanges_passwd(document.password);
	if(ret == false)
		return false;

	ret = check_to_passwd(document.password.newpass.value);
  	if(!regPwd.test(document.password.newpass.value) || !(ret) ) {
  		alert('비밀번호는 영문, 숫자, 특수문자가 조합 되어야 합니다.\n특수문자는 `,~,!,@,#,$,%,^,&,*,(,),-,_,+,=,공백 만 사용 가능합니다.');
    	document.password.newpass.focus();
		return false;
  	}

	if ( document.password.newpass.value != document.password.confpass.value) {
		alert('비밀번호가 일치하지 않습니다. 확인하고 다시 입력하여 주십시오');
		document.password.newpass.focus();
		return false;
	}

	if (IsHtmlComment(document.password.newpass.value)) {
		alert('비밀번호에는 Html 주석문을 입력할 수 없습니다.!');
		document.password.newpass.focus();
		return false;
	}
	if (document.password.newpass.value.length == 0 ) {
		alert('비밀번호가 비어있습니다. 다시 입력하여 주십시오');
		document.password.newpass.focus();
		return false;
	}

	alert('패스워드 변경이 성공하였습니다.');
	return true;
}

</SCRIPT>
</head>

<BODY onload="mouse_r_click();">
<blockquote>
<h2>비밀번호 설정</h2>

<form action=/boafrm/formPasswordSetup method=POST name="password">
<table border="0" cellspacing="4" width="500">
	<tr>
		<font size=2>웹서버 접속시 필요한 비밀번호를 설정하는 페이지입니다.</font>
	</tr>

	<tr>
		<hr size=1 noshade align=top>
	</tr>

	<tr>
		<td width="100%" colspan=2><font size=2>비밀 번호 설정 시 <b><font color="red">영문·숫자·특수문자를  포함  최소 8자 이상</font></b>으로 설정 바랍니다.</font></td>
	</tr>

	<tr>
		<td width="30%"><font size=2><b>사용자 이름:</b></font></td>
		<td width="70%"><font size=2><input type="text" name="username" size="20" maxlength="20" value="<% getInfo("account_info"); %>" onKeyup="inputChanges()"></td>
    </tr>

    <tr>
		<td width="30%"><font size=2><b>새 비밀번호:</b></font></td>
		<td width="70%"><font size=2><input type="password" name="newpass" size="20" maxlength="20" onKeyup="inputChanges()"></td>
	</tr>

	<tr>
		<td width="30%"><font size=2><b>새 비밀번호 확인:</b></font></td>
		<td width="70%"><font size=2><input type="password" name="confpass" size="20" maxlength="20" onKeyup="inputChanges()"></td>
	</tr>

</table>
<p>
<input type="submit" value="적용" name="save" onClick="return saveChanges()">&nbsp;&nbsp;&nbsp;&nbsp;
<input type="reset" value="취소" name="reset">
</p>
</form>
<blockquote>
</body>
</html>


