<html>
<head>
<meta HTTP-EQUIV='Pragma' CONTENT='no-cache'>
<meta HTTP-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<% getIndex("no-cache"); %>
<title>무선 리셋 설정</title>
<script type="text/javascript" src="util_gw.js"> </script>
<% getInfo("include_css"); %>
<script language="javascript">

var wlan_idx=<% getIndex("wlan_idx"); %>;

function frmOnload() {
	var temp;

	var wl_reset_enable = '<% getInfo("wl_reset_enable"); %>';
	var wl_reset_interval = '<% getInfo("wl_reset_interval_day"); %>';
	var wl_reset_bw_kbps = '<% getInfo("wl_reset_bw_kbps"); %>';
	var wl_reset_range = '<% getInfo("wl_reset_triger_time"); %>'.split('_');

	document.formWlReset.wl_reset_interval.value=wl_reset_interval;
	document.formWlReset.wl_reset_bw_kbps.value=wl_reset_bw_kbps;


	document.formWlReset.wl_reset_time_shour_start.value = wl_reset_range[0];
	document.formWlReset.wl_reset_time_shour_end.value = wl_reset_range[1];

	if (wl_reset_enable == "1") {
		document.formWlReset.wl_reset_enable.checked = true;

		document.formWlReset.wl_reset_interval.disabled =false;
		document.formWlReset.wl_reset_bw_kbps.disabled =false;
		document.formWlReset.wl_reset_time_shour_start.disabled =false;
		document.formWlReset.wl_reset_time_shour_end.disabled =false;
	} else {
		document.formWlReset.wl_reset_interval.disabled =true;
		document.formWlReset.wl_reset_bw_kbps.disabled =true;
		document.formWlReset.wl_reset_time_shour_start.disabled =true;
		document.formWlReset.wl_reset_time_shour_end.disabled =true;
	}

}
function valid_check()
{
	var start_t=document.formWlReset.wl_reset_time_shour_start.value;
	var end_t=document.formWlReset.wl_reset_time_shour_end.value;
	var wl_reset_interval = document.formWlReset.wl_reset_interval.value;
	var wl_reset_bw_kbps= document.formWlReset.wl_reset_bw_kbps.value;
	var wl_reset_enable;

	if ( document.formWlReset.wl_reset_enable.checked == true )
		wl_reset_enable = 1;
	else
		wl_reset_enable = 0;

	if(!IsDigit(start_t) || !IsDigit(end_t)) {
		alert('"무선 리셋 시간"에는 숫자만 입력가능합니다');
		return false;
	}

	if ( (parseInt(start_t) < 1 || parseInt(start_t) > 24) || (parseInt(end_t) < 1 || parseInt(end_t) > 24) ) {
		alert('"무선 리셋 시간" 의 범위는 1~24까지 입력 가능합니다');
		return false;
	}

	if (start_t >= end_t) {
		alert('"무선 리셋 시간"의 시작 시간은 종료 시간보다 크거나 같을 수 없습니다.');
		return false;
	}


	if(!IsDigit(wl_reset_interval)) {
		alert('"무선 리셋 확인 주기"에는 숫자만 입력가능합니다');
		return false;
	}

	if (parseInt(wl_reset_interval) < 0 || parseInt(wl_reset_interval) > 365) {
		alert('"무선 리셋 확인 주기" 의 범위는 1~365까지 입력 가능합니다');
		return false;
	}

	if(!IsDigit(wl_reset_bw_kbps)) {
		alert('"무선 평균 데이타량(1분)"에는 숫자만 입력가능합니다');
		return false;
	}

	if (parseInt(wl_reset_bw_kbps) < 1 || parseInt(wl_reset_bw_kbps) > 9999999) {
		alert('"무선 평균 데이타량(1분)" 의 범위는 1~9999999까지 입력 가능합니다');
		return false;
	}

	document.formWlReset.wl_reset_range.value=start_t+"_"+end_t;
	document.formWlReset.wl_reset_enable_.value= wl_reset_enable;
	document.formWlReset.wl_reset_interval_.value= wl_reset_interval;
	document.formWlReset.wl_reset_bw_kbps_.value= wl_reset_bw_kbps;

	document.formWlReset.submit();

	//alert("설정 되었습니다.");
}

function resetClick()
{
	document.location.reload();
}

function update_cfg()
{
	if (document.formWlReset.wl_reset_enable.checked == true) {
		document.formWlReset.wl_reset_interval.disabled 	= false;
		document.formWlReset.wl_reset_bw_kbps.disabled 		= false;
		document.formWlReset.wl_reset_time_shour_start.disabled 	= false;
		document.formWlReset.wl_reset_time_shour_end.disabled 	= false;
	} else {
		document.formWlReset.wl_reset_interval.disabled 	= true;
		document.formWlReset.wl_reset_bw_kbps.disabled 		= true;
		document.formWlReset.wl_reset_time_shour_start.disabled 	= true;
		document.formWlReset.wl_reset_time_shour_end.disabled 	= true;
	}
}

</script>

</head>
<body onload="frmOnload();">
<script language="javascript">
var curLoginUser = <% getIndex("isAdmin"); %>;
if (curLoginUser == 1)
	history.back();
</script>
<blockquote>
<table border=0 width="550" cellspacing=4 cellpadding=0>
<tr><td><h2><font size=3 face="arial" color="#3c7A95">Reset Wireless</font></h2></td></tr>
<tr><td><font size=2> 무선 재시작을 설정하는 페이지입니다. </font></td></tr>
<tr><td><hr size=1 noshade align=top></td></tr>
</table>

<form action=/boafrm/formWlReset method=POST name="formWlReset">
<br>
	<br>
	<table border=0 width="550" cellspacing=4 cellpadding=0>
		<tr>
			<td width="30%">
				무선 리셋 사용:
			</td>

			<td>
				<input type="checkbox" name="wl_reset_enable" value="1" onClick="update_cfg();">
			</td>
		</tr>

		<tr>
			<td width="30%">
				무선 리셋 확인 주기:
			</td>
			<td width="30%">
				<input type="text" name="wl_reset_interval" size="3" maxlength="3" >(일)
			</td>
		</tr>

		<tr>
			<td width="30%">무선 리셋 시간:
			</td>
			<td width="30%">
				<input type="hidden"  name="wl_reset_enable_" value="" >
				<input type="hidden"  name="wl_reset_interval_" value="" >
				<input type="hidden"  name="wl_reset_bw_kbps_" value="" >
				<input type="hidden"  name="wl_reset_range" value="wl_reset_range" >
				<input type="text"  name="wl_reset_time_shour_start" size="2" maxlength="2" >&nbsp;-&nbsp;
				<input type="text"  name="wl_reset_time_shour_end" size="2" maxlength="2" >(24h)
			</td>
		</tr>

		<tr>
			<td width="30%">
				무선 평균 데이타량(1분):
			</td>
			<td width="30%">
				<input type="text" name="wl_reset_bw_kbps" size="7" maxlength="7" >(kbps)이하
			</td>
		</tr>
	</table>
<br>
<br>
<input type="button" value="적용" name="save" onclick="valid_check();">
<input type="hidden" value="/wlreset.htm" name="submit-url" >
<input type="reset" value="취소" name="reset" onclick="resetClick();">

</form>
</blockquote>
</body>
</html>
