<html>
<head>
<meta HTTP-EQUIV='Pragma' CONTENT='no-cache'>
<meta HTTP-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<script type="text/javascript" src="skb_util_gw.js"></script>
<% getInfo("include_css"); %>
</head>

<body>
<blockquote>
<h4><% getInfo("okMsg"); %></h4>
<form>
<input type="button" onclick="location.href='/skb_login.htm'" value="&nbsp;&nbsp;OK&nbsp;&nbsp" name="OK">
</form>
</blockquote>
</body>
</html>
